body {
    padding: 0px;
    margin: 0px;
}

#div-main {
    margin: auto;
    margin-top: 100px;

    background-color: rgb(165, 71, 42);
    height: 504px;
    width: 704px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#task-store-div {
    height: 450px;
    width: 700px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 2px solid rgb(165, 71, 42);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#functions-div {
    background-color: wheat;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(165, 71, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 25px;
    width: 300px;
    border-radius: 10px;
}


#table-elements {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.element {
    border-bottom: 3px solid rgb(165, 71, 42);
    border-right: 3px solid rgb(165, 71, 42);
    border-radius: 5px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.element-name {
    border-radius: 5px;
    border: 1px solid rgb(165, 71, 42);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-info {
    border-radius: 5px;
    border: 1px solid rgb(165, 71, 42);
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-functions{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.delete {
    width: 150px;
    font-size: large;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    width: 150px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(195, 0, 255);
    border-radius: 5px;
    cursor: pointer;
}

#submit {
    height: 40px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(51, 255, 0);
    border-radius: 10px;
    cursor: pointer;
}